{{ use('yii\helpers\Html') }}
{#
@var $this yii\web\View
@var $searchModel app\models\ArticleSearch
@var $dataProvider yii\data\ActiveDataProvider

#}

{{ set(this, 'title', t(app.name) ~' '~ t('News')) }}
{{ set(this, 'params', {'breadcrumbs': [t('Articles')]}) }}

<div class="container">
    <div class="row">

            {{ ListViewWidget({
                'summary': false,
                'dataProvider':dataProvider,
                'emptyText': t('We haven\'t created any articles yet.'),
                'itemOptions': {'class': 'item'},
                'itemView': '_index.twig'
            }) | raw }}

    </div> {# row  #}
</div>