<footer class="footer">

    <div class="container">

        <div class="row">
            <div class="col-lg-22 text-center">

                <p>Copyright &copy; {{ t(app.name) }} {{  'now'|date('Y') }} {{ Yii.powered() | raw }}</p>
            </div>
        </div>

    </div>

</footer>